@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Martian+Mono:wght@600&family=Roboto+Mono&display=swap");

.container {
  width: 100vw;
  max-width: 1500px;
  max-height: 2000px;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.home {
  /* width: 100vw;
  max-width: 1500px; */
  height: 100vh;
  display: flex;
  gap: 5rem;
  background-color: #000;
  justify-content: center;
}

.home .home-text {
  /* max-width: 100vw; */
  line-height: 0.9;
  margin-top: 202px;
  position: relative;
}

.home .home-text h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 12vw;
  /* opacity: 0.7; */
  transform: translateY(100%);
}
.home .home-text .home-text1-h1 {
  padding-left: 4rem;
}

.home .home-text p {
  color: #fff;
  opacity: 0.7;
  margin-top: 2px;
}

p {
  font-size: 0.95rem;
  font-family: "Roboto Mono", monospace;
}

.home .home-img {
  max-width: 600px;
}

.home .home-img img {
  width: 100%;
  border-radius: 1rem;
}

.home-btn {
  margin-top: 2rem;
}

.btn-text {
  outline: none;
  border: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  transition: all 0.1s linear 0s;
  font-size: 2rem;
  width: fit-content;
  text-decoration: none;
  font-weight: 900;
  background-color: indigo;
  color: #fff;
}

.home-btn .btn-text:hover {
  background: linear-gradient(110deg, #333850 60%, #74df50 60%);
}

.arrow {
  display: flex;
  position: fixed;
  /* justify-content: end; */
  width: 120px;
  height: 60px;
  right: -32px;
  top: 40%;
  /* max-width: 1400px; */
  color: #000;
  background-color: #fff;
  transform: rotate(270deg);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.arrow div {
  /* top: 2%; */
  margin-top: 20px;
  margin-right: 4px;
  text-transform: uppercase;
  font-size: 13px;
}

.homeFooter {
  position: absolute;
  bottom: 206px;
  width: 105vw;
  /* padding: 0 3vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  color: #000;
  background-color: yellow;
  opacity: 0.8;
  transform: rotate(11deg);
  margin-left: -20px;
}

.homeFooter1 {
  position: absolute;
  bottom: 206px;
  width: 105vw;
  /* padding: 0 3vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  color: #000;
  background-color: #e0dddd;
  opacity: 0.8;
  transform: rotate(-11deg);
  margin-left: -20px;
}

.homeFooterText {
  margin-top: 1rem;
  animation: animateSmallTxt 12s linear infinite;
  position: relative;
  text-wrap: nowrap;
  opacity: 0.7;
  padding-bottom: 20px;
}

.homeFooterText1 {
  margin-top: 1rem;
  animation: animateSmallTxt1 12s linear infinite;
  position: relative;
  text-wrap: nowrap;
  opacity: 0.7;
  padding-bottom: 20px;
}

/* animation css */

.animate {
  display: flex;
  gap: 0;
  width: 100%;
  overflow: hidden;
  justify-content: end;
  /* padding: 2px; */
}

.endtxt {
  transform: translateY(-150%);
}

.home-text-h3 {
  margin-top: 1rem;
  animation: animateSmallTxt 12s linear infinite;

  text-wrap: nowrap;
}

@keyframes animateSmallTxt1 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes animateSmallTxt {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.run {
  display: flex;
  width: 185px;
  height: 40px;
  background: #fff;
  margin-left: 77px;
  position: relative;
  margin-top: -40px;
  animation: run 3s infinite ease-in-out;
}

@keyframes run {
  100% {
    transform: translateX(200px);
  }
}

.bounding {
  overflow: hidden;
}

.txtAnimate {
  transform: translateY(0%);
}

.color {
  color: #fff;
}

.svg-container {
  width: 300px;
  height: 300px;
  margin-top: 230px;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 836px) {
  .home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* margin-top: 5rem; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }

  .svg-container {
    margin-top: 20px;
  }

  .btn-text {
    width: 100%;
  }
  .home .home-img {
    width: 100%;
  }
  .home-text {
    margin-top: 1.2rem;
  }
}
